extends layout

block main-content
    .container
        .content.row
            .col-xs-12
                block page-title
            .col-xs-12.col-sm-7
                block content

            .col-xs-12.col-sm-5
                .content-background