.container
    .row
        .footer.col-xs-12
            p.address 123 St. City Location, Country 987654321
            p.copyright © 2023 by Belle & Carrie Rehabilitation Yoga.  All rights reserved.
            div.social-links
                a.social.facebook(href="#") facebook
                a.social.twitter(href="#") twitter
                a.social.gplus(href="#") gplus
                a.social.pinterest(href="#") pinterest