extends parts/content-no-image

block page-title
    h1 Blog

block content
    .article
        .row
            .col-xs-12.col-sm-3
                img.blog-image(src="img/group-yoga.jpg" alt="Group yoga")
            .col-xs-12.col-sm-9
                h2 Summer Yoga Classes
                p.publish-date April 7, 2023
                p Duis ultrices tortor non felis convallis bibendum. Maecenas diam velit, sollicitudin at imperdiet ac, consectetur non nibh. Etiam eget dapibus nulla. Nulla placerat mauris ut elit placerat luctus. Aliquam porttitor leo non nisl scelerisque sollicitudin.

    .article
        .row
            .col-xs-12.col-sm-3
                img.blog-image(src="img/yoga-concentrating.jpg" alt="Yoga concentraiting")
            .col-xs-12.col-sm-9
                h2 Inner peace
                p.publish-date April 6, 2023
                p Nunc sit amet dapibus est, sit amet varius risus. Donec luctus lacinia mauris, at feugiat ligula facilisis ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed id ligula consectetur, iaculis dolor vitae, gravida mauris.

    .article
        .row
            .col-xs-12.col-sm-3
                img.blog-image(src="img/lying-yoga.jpg" alt="Lying yoga")
            .col-xs-12.col-sm-9
                h2 A Strong and Flexible Body
                p.publish-date April 5, 2023
                p In felis ante, aliquet sit amet venenatis at, feugiat sed leo. Fusce pretium, velit in luctus ornare, elit lorem ultrices tortor, sed consectetur orci risus mollis ante. Cras ut aliquam nulla. Aliquam convallis sapien quis cursus condimentum.
