extends parts/content-with-image

block page-title
    h1 Classes

block content
    .row
        .col-sm-12
            h2 Begginers
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in neque condimentum, dignissim libero sit amet, blandit felis.
            p MWF : 8AM to 9AM
            p TTHS : 10AM-11AM
        .col-sm-12
            h2 Intermidiate
            p Cras dignissim est sed lorem suscipit, ut ultrices dolor tempus. Cras venenatis gravida scelerisque. Aenean sit amet massa dui.
            p MWF : 10AM-11AM
            p TTHS : 1PM-2PM
        .col-sm-12
            h2 Advanced
            p Quisque non quam lorem. Nulla eu placerat leo. Suspendisse eros risus, viverra sed fermentum vitae, gravida ac tellus.
            p MWF : 1PM-2PM
            p TTHS : 8AM to 9AM
