extends parts/layout

block main-content
    .content
        .container
            .row
                h1.col-xs-12.text-center YOGA

                p.col-xs-12.text-center For Better Health & Flexibility

                img(src="img/lady-in-yoga.jpg")