extends parts/layout

block main-content
    //    .container
    //        .content
    //            .tagline
    //                .row
    //                    .col-xs-12
    //                        h1 YOGA
    //                .row
    //                    .col-xs-12
    //                        p For Better Health & Flexibility

