extends parts/content-with-image

block page-title
    h1 Instructors

block content
    .row
        .col-xs-6
            img.instructor(src="img/instructor1.jpg")
            p Belle Humpfree

        .col-xs-6
            img.instructor(src="img/instructor2.jpg")
            p Jacob Collern

        .col-xs-6
            img.instructor(src="img/instructor3.jpg")
            p Edward Blanche

        .col-xs-6
            img.instructor(src="img/instructor4.jpg")
            p Carrie Waldorf