.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  background:url("../img/logo.png") no-repeat;
  background-size: 90%;
  text-indent: -99999px;
  min-width: 235px;
  max-width: 320px;
  margin: 15px 0 0 15px;

  span {
    font: 2.5rem "Nixie One";
    text-transform: uppercase;
    display: block;
    color: $navbar-default-brand-span-color;
  }
}



.navbar-default {
  background-color: $navbar-default-bg-with-alpha;
  border: 1px solid $navbar-default-bg-with-alpha;

  @import '../components/navbar-toggle';

  .navbar-nav {
    @include navbar-nav-border;
    margin: 0 15px;
    width: 100%;

    & > li > a{
      @include navbar-links;
      padding-top: 15px;

      &.parent-link {
        margin-right: 49px;
        @include navbar-links;
      }
    }

    li {
      @include navbar-nav-border(bottom)

      &.with-submenu {
        height: auto;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.submenu {
  @include navbar-nav-border(top);
  display: none;
  width: 100%;

  li{
    @include navbar-links;
    height: 49px;

    & > a {
      padding-left: 30px;
      color: $navbar-default-link-color;
      @include navbar-links;
    }
  }

  &.open {
    display: block;
  }
}


.navbar-collapse {
  overflow: hidden;
  position: absolute;
  z-index: $zindex-navbar;
  width: 100%;
  top: 65px;
  border-top: none;
}


.dropdown-icon {
  @include navbar-nav-border(left);
  width: 49px;
  height: 49px;
  float: right;
  margin-top: -49px;
  padding: 0;
  cursor: pointer;
  background-image: url('../img/mobile/mobile-expand.png');
  background-repeat: no-repeat;
  @include navbar-links;
}

.selected {
  color: $brand-color !important;
}

@media screen and (min-width: 768px) {

  .navbar-default {
    .nav{
      border: none;
      background: transparent;
      opacity: 1;

      li {
        border: none;
        background: transparent;
        min-width: 20%;

        a {
          text-align: center;

          &:hover {
            background: transparent;
          }

          &.parent-link {
            margin: 0;
          }
        }
      }
    }

    .navbar-collapse {
      position: relative;
      top: 0;
    }
  }



  .dropdown-icon {
    display: none;
  }

  .parent-link {
    margin: 0;
  }

  .with-submenu {
    margin: 0;
    position: relative;

    &:hover .submenu {
      display: block;

      & li a{
        padding: 15px 0;
        background: $brand-color;
        border-top: 1px solid $accent-color;

        &:hover {
          color: $navbar-default-link-hover-color;
        }
      }
    }
  }

  .submenu {
    width: 100%;
    position: absolute;
    top: 48px;
    padding-top: 1px;
  }
}

