// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin navbar-links {
  text-transform: uppercase;
  height: 49px;
  font-size: 1.4rem;
  line-height: 2;
  background-color: $third-color;
  opacity: 0.9;

  &:hover {
    background-color: $brand-color;
    opacity: 1;
  }
}


@mixin navbar-nav-border($side: null, $color: $navbar-nav-default-border-color) {
  @if ($side) {
    border-#{$side}: 1px solid $color;
  } @else {
    border: 1px solid $color;
  }
}
