$brand-color:   rgb(7, 112, 84);

$second-color:  rgb(153, 250, 153);
$third-color:   rgb(182, 216, 207);


$text-color: rgb(49, 95, 82);

$body-bg: $brand-color;

$navbar-default-bg: $brand-color;
$navbar-default-border: $brand-color;

$navbar-default-brand-color: $second-color;
$navbar-default-brand-span-color: $third-color;
$navbar-default-brand-hover-color: darken($navbar-default-brand-color, 10%);

$navbar-default-toggle-hover-bg: $second-color;
$navbar-default-toggle-icon-bar-bg: $second-color;
$navbar-default-toggle-border-color: $second-color;

$navbar-default-link-color: $third-color;